.Button {
  --background-color: #3c9672;

  background: var(--background-color);
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  padding: 3px 6px;
  cursor: pointer;

  &:hover {
    background: hsl(from var(--background-color) h s calc(l - 10));
  }
}
