.ItemDetails {
  padding: 10px;
  background: var(--details-background-color);
  display: flex;
  flex-flow: column nowrap;
  gap: 1em;
  position: relative;

  .wikiLink {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 80%;
    opacity: 70%;
  }

  .favouriteToggle {
    cursor: pointer;
    user-select: none;
  }

  .priceContainer {
    &:empty,
    &:has(.priceDisplay:empty) {
      display: none;
    }
  }

  .vaultedIndicator {
    padding: 5px;
    background: linear-gradient(
      to right,
      var(--vaulted-color),
      transparent 100%
    );
  }

  .primeResurgenceIndicator {
    padding: 5px;
    background: linear-gradient(
      to right,
      var(--prime-resurgence-color),
      transparent 100%
    );
  }

  .ingredientList {
    .ingredientListTitle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    ul {
      margin: 0;
      padding: 0 0 0 20px;
      li {
        list-style-type: disc;

        font: 12px monospace;
        word-break: break-word;
        /* opacity: 0.6; */
      }
    }

    .ingredientListItems {
      padding: 0;

      .ingredientSection {
        list-style-type: none;
        margin: 0;
        padding: 0;

        .ingredientName {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
          gap: 1em;

          .checkbox {
          }

          .price {
            flex-grow: 1;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .sourceList {
    margin: 5px 0;
    font-size: 12px;

    .sourceListTitle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    ul {
      margin: 0;
      padding: 0 0 0 20px;
      li {
        list-style-type: disc;
      }
    }

    .source {
      .sourceRelic {
        font-weight: bold;

        &.vaulted {
          color: var(--vaulted-color);
        }
        &.primeResurgence {
          color: var(--prime-resurgence-color);
        }
      }

      &.sourceCurrentRotation {
        color: lime;
      }
    }

    .sourceSeparator {
      opacity: 0.6;
    }
  }

  .meta {
    font: 12px monospace;
    word-break: break-word;
    opacity: 0.6;
  }
}
