.ItemWrapper {
  --item-row-height: 20px;

  --header-background-color: #222;
  --details-background-color: #181818;
  --vaulted-color: #96355f;
  --prime-resurgence-color: #2e71be;
  --mastered-color: #3c9672;

  flex-shrink: 0;

  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;

  .Item {
    min-height: var(--item-row-height);
    max-height: var(--item-row-height);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background: var(--header-background-color);
    padding: 0 5px;

    min-width: 240px;

    cursor: pointer;

    &.vaulted {
      background: linear-gradient(
        to right,
        var(--vaulted-color),
        transparent 100%
      );
    }

    &.primeResurgence {
      background: linear-gradient(
        to right,
        var(--prime-resurgence-color),
        transparent 100%
      );
    }

    &.mastered {
      background: linear-gradient(
        to right,
        var(--mastered-color),
        transparent 200%
      );
    }

    .name {
      flex-grow: 1;
      white-space: nowrap;
    }

    .controls {
      .checkbox {
      }
    }

    &.split {
      flex-flow: row nowrap;
      cursor: unset;
      padding: 0;
      gap: 0;

      .splitItemSection {
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        padding: 0 5px;
        height: 100%;
        overflow: hidden;

        &.vaulted {
          background: linear-gradient(
            to right,
            var(--vaulted-color),
            transparent 100%
          );
        }

        &.primeResurgence {
          background: linear-gradient(
            to right,
            var(--prime-resurgence-color),
            transparent 100%
          );
        }

        &.mastered {
          background: linear-gradient(
            to right,
            var(--mastered-color),
            transparent 200%
          );
        }

        &:first-of-type {
          flex: 1 1 auto;
        }

        &:not(:first-of-type) {
          flex-shrink: 0;
          border-left: 1px solid #666;
          padding-left: 5px;
        }
      }
    }
  }

  .ItemDetails {
    padding: 10px;
    background: var(--details-background-color);
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;

    .priceContainer {
      &:empty,
      &:has(.priceDisplay:empty) {
        display: none;
      }

      .priceValue {
        font-weight: bold;
        color: cyan;
      }
    }

    .vaultedIndicator {
      padding: 5px;
      background: linear-gradient(
        to right,
        var(--vaulted-color),
        transparent 100%
      );
    }

    .primeResurgenceIndicator {
      padding: 5px;
      background: linear-gradient(
        to right,
        var(--prime-resurgence-color),
        transparent 100%
      );
    }
  }

  .ingredientList {
    .ingredientListTitle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5px;
    }

    .ingredientSection {
      .ingredientName {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5em;
      }
    }

    ul {
      margin: 0;
      padding: 0 0 0 20px;
      li {
        list-style-type: disc;

        font: 12px monospace;
        word-break: break-word;
        /* opacity: 0.6; */
      }
    }
  }

  .sourceList {
    margin: 5px 0;
    font-size: 12px;

    .sourceListTitle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    ul {
      margin: 0;
      padding: 0 0 0 20px;
      li {
        list-style-type: disc;
      }
    }

    .sourceRelic {
      font-weight: bold;

      &.vaulted {
        color: var(--vaulted-color);
      }
      &.primeResurgence {
        color: var(--prime-resurgence-color);
      }
    }

    .sourceSeparator {
      opacity: 0.6;
    }
  }

  .meta {
    font: 12px monospace;
    word-break: break-word;
    opacity: 0.6;
  }
}
