.ItemWrapper {
  --item-row-height: 20px;

  flex-shrink: 0;

  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  font-size: 14px;

  .Item {
    min-height: var(--item-row-height);
    max-height: var(--item-row-height);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    background: #222;
    padding: 0 5px;

    cursor: pointer;

    &.mastered {
      background-color: var(--highlight-color, #3c9672);
    }

    .name {
      flex-grow: 1;
      white-space: nowrap;
    }

    .controls {
      .checkbox {
      }
    }

    &.split {
      flex-flow: row nowrap;
      cursor: unset;
      padding: 0;
      gap: 0;

      .splitItemSection {
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        padding: 0 5px;
        height: 100%;
        overflow: hidden;

        &.mastered {
          background-color: var(--highlight-color, #3c9672);
        }

        &:first-of-type {
          flex: 1 1 auto;
        }

        &:not(:first-of-type) {
          flex-shrink: 0;
          border-left: 1px solid #666;
          padding-left: 5px;
        }
      }
    }
  }

  .ItemDetails {
    padding: 10px;
    background: #444;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
  }

  .ingredientList {
    .ingredientListTitle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    ul {
      margin: 0;
      padding: 0 0 0 20px;
      li {
        list-style-type: disc;
      }
    }
  }

  .sourceList {
    margin: 5px 0;

    .sourceListTitle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    ul {
      margin: 0;
      padding: 0 0 0 20px;
      li {
        list-style-type: disc;
      }
    }
  }
}
