.metadata {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  gap: 1em;
  font-size: 12px;
  background: black;
  padding: 5px;

  .gitSha {
    font-weight: bold;
  }

  .gitDate {
  }
}
