:root {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 24px;
  overflow-x: auto;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
}

body > div {
  position: relative;
  overflow: auto;
  height: calc(100vh - 0.7em);
}

.filterInputWrapper {
  position: relative;
  gap: 5px;
  overflow: hidden;
  display: inline-block;
  width: 300px;
  max-width: 90%;

  .filterInput {
    font-size: 18px;
    color: white;
    background: #222;
    color: white;
    border: none;
    padding: 3px;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  .clearInput {
    position: absolute;
    top: -4px;
    right: 3px;
    font-size: 36px;
    color: white;
    max-height: 20px;
    cursor: pointer;
  }
}

.container {
  position: absolute;
  width: 4000px;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;

  gap: 10px;

  .stacked {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
  }
}

.tasksContainer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 800px;
  background: black;
}
