:root {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 24px;
  overflow-x: auto;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row nowrap;

  gap: 10px;
  padding-bottom: 20em;
}
