:root {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 24px;
  overflow-x: auto;
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
}

.App {
  a {
    color: white;
    &[href] {
      &::after {
        content: " 🔗";
        display: inline-block;
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  background: #333;
  width: 100%;
  padding: 5px;
  z-index: 1000;

  display: flex;
  flex-flow: row nowrap;

  justify-content: space-between;

  .filterGroup {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    gap: 2em;
  }

  .filterInputWrapper {
    position: relative;
    gap: 5px;
    overflow: hidden;
    display: inline-block;
    width: 300px;
    max-width: 90%;

    .filterInput {
      font-size: 18px;
      color: white;
      background: #222;
      color: white;
      border: none;
      padding: 3px;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    .clearInput {
      position: absolute;
      top: -4px;
      right: 3px;
      font-size: 36px;
      color: white;
      max-height: 20px;
      cursor: pointer;
    }
  }

  .favouritesFilter {
    font-size: 18px;

    & > label {
      display: flex;
      flex-flow: row nowrap;
      align-items: baseline;
      gap: 5px;
    }
  }

  .share {
    font-size: 12px;
    /* max-width: 200px; */
    overflow: hidden;
  }
}

.container {
  margin-top: 40px;

  display: flex;
  flex-flow: row nowrap;

  gap: 10px;

  .stacked {
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
  }
}

.tasksContainer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 800px;
  background: black;
}
